# 由 .venv 中 pip list --format=freeze 导出
# 本地包 serl_robot_infra 需在项目内执行: pip install -e serl_robot_infra/

absl-py==2.3.1
action-msgs==1.2.2
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
aiofiles==25.1.0
ament-clang-format==0.12.14
ament-clang-tidy==0.12.14
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
astunparse==1.6.3
attrs==25.4.0
blinker==1.9.0
builtin-interfaces==1.2.2
catkin-pkg==1.1.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
chex==0.1.90
click==8.3.1
cloudpickle==3.1.2
composition-interfaces==1.2.2
contourpy==1.3.2
control-msgs==4.8.0
controller-manager==2.53.0
controller-manager-msgs==2.53.0
cv-bridge==3.2.1
cv-franka-bridge==0.0.0
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
diagnostic-msgs==4.9.0
distlib==0.4.0
distrax==0.1.5
distro==1.9.0
dm-tree==0.1.9
docutils==0.22.4
domain-coordinator==0.10.0
easyhid-ng==0.1.0
einops==0.8.1
etils==1.13.0
evdev==1.9.2
Farama-Notifications==0.0.4
filelock==3.20.3
Flask==3.1.2
flatbuffers==25.12.19
flax==0.10.7
fonttools==4.61.1
franka-gripper==2.1.0
franka-msgs==2.1.0
fsspec==2026.1.0
gast==0.7.0
generate-parameter-library-py==0.6.0
geometry-msgs==4.9.0
gitdb==4.0.12
GitPython==3.1.46
google-pasta==0.2.0
gps-msgs==2.1.1
graph-msgs==0.2.0
grpcio==1.76.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==0.29.1
h5py==3.15.1
hand-interfaces==0.0.1
handcv==0.0.1
hidapi==0.15.0
humanize==4.15.0
identify==2.6.16
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
interactive-markers==2.3.2
itsdangerous==2.2.0
jax==0.6.1
jaxlib==0.6.1
Jinja2==3.1.6
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
keras==3.12.0
kiwisolver==1.4.9
laser-geometry==2.4.1
launch==1.0.13
launch-param-builder==0.1.1
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
libclang==18.1.1
lifecycle-msgs==1.2.2
map-msgs==2.1.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
message-filters==4.3.11
ml_collections==1.1.0
ml_dtypes==0.5.4
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
moviepy==2.2.1
msgpack==1.1.2
namex==0.1.0
natsort==8.4.0
nav-msgs==4.9.0
nest-asyncio==1.6.0
nodeenv==1.10.0
numpy==2.2.6
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python==4.13.0.90
opt_einsum==3.4.0
optax==0.2.6
optree==0.18.0
orbax-checkpoint==0.11.31
osrf-pycommon==2.1.6
packaging==25.0
pillow==11.3.0
pip==25.3
platformdirs==4.5.1
pre-commit==3.3.3
proglog==0.1.12
protobuf==6.33.4
psutil==7.2.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pygame==2.6.1
Pygments==2.19.2
pymodbus==2.5.3
pynput==1.8.1
pyparsing==3.3.1
pyquaternion==0.9.9
pyrealsense2==2.56.5.9235
pyserial==3.5
pyspacemouse==2.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-qt-binding==1.1.3
python-xlib==0.33
PyYAML==6.0.3
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.8
requests==2.32.5
resource-retriever==3.1.3
rich==14.2.0
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.20
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2controlcli==2.53.0
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2plugin==5.1.3
ros2run==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rospkg==1.6.1
rpyutils==0.2.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-plot==1.1.5
rqt-py-common==1.1.9
rqt-topic==1.5.0
scipy==1.15.3
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentry-sdk==2.49.0
setuptools==80.9.0
shape-msgs==4.9.0
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
srdfdom==2.0.7
sros2==0.10.7
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-probability==0.25.0
tensorstore==0.1.78
termcolor==3.3.0
tf_keras==2.20.1
tf2-geometry-msgs==0.25.18
tf2-kdl==0.25.18
tf2-msgs==0.25.18
tf2-py==0.25.18
tf2-ros-py==0.25.18
tf2-sensor-msgs==0.25.18
tf2-tools==0.25.18
theora-image-transport==2.5.4
tomli==2.4.0
toolz==1.1.0
tqdm==4.67.1
trajectory-msgs==4.9.0
treescope==0.1.10
typing_extensions==4.15.0
typing-inspection==0.4.2
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.6.3
virtualenv==20.36.1
vision-msgs==4.1.1
visualization-msgs==4.9.0
wandb==0.24.0
Werkzeug==3.1.5
wheel==0.45.1
wrapt==2.0.1
xacro==2.1.1
zipp==3.23.0
