absl-py==2.3.1
agentlace @ git+https://github.com/youliangtan/agentlace.git@cf2c337c5e3694cdbfc14831b239bd657bc4894d
aiofiles==25.1.0
attrs==25.4.0
bidict==0.23.1
blinker==1.9.0
catkin-pkg==1.1.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
chex==0.1.91
click==8.3.1
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
distrax==0.1.5
distro==1.9.0
dm-tree==0.1.9
docutils==0.22.4
easyhid-ng==0.1.0
einops==0.8.1
etils==1.13.0
evdev==1.9.2
Farama-Notifications==0.0.4
Flask==3.1.2
Flask-SocketIO==5.6.0
flax==0.12.2
fonttools==4.61.1
fsspec==2026.1.0
gast==0.7.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.3
h11==0.16.0
hidapi==0.15.0
humanize==4.15.0
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
jax==0.9.0
jaxlib==0.9.0
Jinja2==3.1.6
kiwisolver==1.4.9
lz4==4.4.5
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
ml_dtypes==0.5.4
msgpack==1.1.2
nest-asyncio==1.6.0
numpy==1.26.4
opencv-python==4.13.0.90
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.32
packaging==26.0
pillow==12.1.0
protobuf==6.33.4
psutil==7.2.1
pycparser==3.0
pygame==2.6.1
Pygments==2.19.2
pymodbus==2.5.3
pynput==1.8.1
pyparsing==3.3.2
pyquaternion==0.9.9
pyrealsense2==2.56.5.9235
pyserial==3.5
pyspacemouse==2.0.0
python-dateutil==2.9.0.post0
python-engineio==4.13.0
python-socketio==5.16.0
python-xlib==0.33
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
rich==14.3.1
rospkg==1.6.1
scipy==1.17.0
-e ./serl_launcher
-e ./serl_robot_infra
simple-websocket==1.1.0
simplejson==3.20.2
six==1.17.0
tensorflow-probability==0.25.0
tensorstore==0.1.80
toolz==1.1.0
tqdm==4.67.1
treescope==0.1.10
typing_extensions==4.15.0
urllib3==2.6.3
websocket-client==1.9.0
Werkzeug==3.1.5
wrapt==2.0.1
wsproto==1.3.2
zipp==3.23.0
zmq==0.0.0
